:root {
  --light-grey: #f6f6f8;
  --dark-grey: #bcbcbc;
  --light-yellow: #ffe15c;
  --dark-yellow: #ffbf5e;
  --blue: #4050d2;
}

body {
  display: flex;

  min-height: 100vh;

  font-family: 'Hind Siliguri', sans-serif;
}
#weather-summary {
  width: 340px;
}
#weather-details {
  flex-grow: 1;
}
